{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section>
            <div class="herotext">
             <h1> INTELLIGENT SURVELLANCE<br> SYSTEM</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </section>

        <div class="modules">
          <h1 style="text-align:center"> Modules</h1>
          <div style="display:flex;justify-content:space-around;">
          <a href="/theft/"><img src="{% static 'img/mod1.png'%}" alt="Avatar" style="width:150px; height:150px;"></a>
          <a href="https://www.google.com"><img src="{% static 'img/mod2.jpeg'%}" alt="Avatar" style="width:150px; height:150px;"></a>
          <a href="https://www.google.com"><img src="{% static 'img/mod3.jpeg'%}" alt="Avatar" style="width:150px; height:150px;"></a>
          <a href="https://www.google.com"><img src="{% static 'img/mod1.png'%}" alt="Avatar" style="width:150px; height:150px;"></a>
          <a href="https://www.google.com"><img src="{% static 'img/mod1.png'%}" alt="Avatar" style="width:150px; height:150px;"></a>
      </div>
      {% endblock content %}
   